<%= stylesheet_pack_tag 'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'hello', 'data-turbolinks-track': 'reload' %>

<header class="py-3 mb-4 border-bottom shadow">
    <div class="container-fluid align-items-center d-flex ">
        <div class="flex-grow-1 d-flex align-items-center">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://i.ibb.co/MkPBTnd/Whats-App-Image-2021-08-05-at-11-17-04.jpg" alt="user" width="50" height="50">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
		  <li><a class="dropdown-item"><%= link_to "Torna ai progetti", static_pages_projects_path %></a></li>
          <li><a class="dropdown-item" href="#">QR Bunker</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Chiss Mirena</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Albero Genealogico</a></li>
			  <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"><%= link_to "QR Vincenzo Tomassi", static_pages_vincenzo_tomassi_path %></a></li>


              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                  <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Subsubmenu action</a></li>
                  <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                </ul>
              </li>



            </ul>
          </li>
        </ul>
            </div>
    </div>
</header>
<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <aside class="col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 pb-sm-0 pb-3">
            <div class="bg-light border rounded-3 p-1 h-100">
                <ul class="nav flex-sm-column flex-row mb-auto justify-content-between text-truncate">
                    <li class="nav-item">
                        <a href="#" class="nav-link px-2 text-truncate">
                            <span class="d-none d-sm-inline">QR Bunker</span>
                        </a>
                    </li>				 
					<li>
					  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Chiss Mirena
					  </button>
					  <ul class="dropdown-menu">
						<li><a class="dropdown-item">Albero Genealogico</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item"><%= link_to "QR Vincenzo Tomassi", static_pages_vincenzo_tomassi_path %></a></li>
						
					  </ul>
					</li>
                </ul>
            </div>
        </aside>
        <main class="col overflow-auto h-100">
            <div class="bg-light border rounded-3 p-3">
                <h2>Vincenzo Tomassi</h2>
                <p> 
					NASCE AD AQUINO IL 6 GENNAIO 1883, IN VIA PESCIOLE, SECONDO DI 5 FIGLI MASCHI:
					ANGELO 1879, LIBERO 1885 (MORTO NEL 1887), LIBERANTONIO 1887, ERMINIO 1890.
					IL 16 LUGLIO 1903 SI SPOSA AD AQUINO CON GAETANA MARIA CONCETTA LUPO (1882-1960).
					IL 10 APRILE 1904 NASCE LA SUA PRIMA FIGLIA ANGELA.
					IL 12 OTTOBRE 1905 NASCE IL SUO PRIMO FIGLIO GIUSEPPE.
					NEL 1905 I FRATELLI EMIGRANO IN AMERICA.
					IL 2 DICEMBRE 1908 NASCE LA SUA SECONDA FIGLIA NICOLINA.
					NEL 1909 EMIGRA CON LA NAVE DI NOME BERLIN NEL PORTO DI CASERTA DESTINZAIONE UTICA,NY 
					FA SUCCESSIVAMENTE RITORNO.
				</p>
				</hr>
				<td><%= video_tag "vincenzo_tomassi.mp4", :controls => true, :autobuffer => true %> <br>
				</td>
				<p> 
					L'8 MAGGIO 1911 NASCE LA SUA TERZA FIGLIA CELESTE.
					NEL'INTORNO DEL  1912 IL FRATELLO MAGGIORE ANGELO MUORE IN AMERICA LASCIANDO UN FIGLIO PICCOLO ALLE CURE DI SUO FRATELLO
					E SUA COGNATA (SUA MOGLIE MORIRA' NEL 1918 PER MALATTIA), GAETANO.
					IL 16 DICEMBRE 1912 NASCE LA SUA QUARTA FIGLIA GELTRUDE.
					IL 25 LUGLIO 1914 NASCE LA SUA QUINTA FIGLIA FRANCESCA.
					L'11 NOVEMBRE DEL 1916 NASCE IL SUO SECONDO FIGLIO MASCHIO, OMONIMO, VINCENZO.
					IL 20 MAGGIO 1919 NASCE IL SUO TERZO FIGLIO MASCHIO ALESSANDRO.
					IL 2 SETTEMBRE 1921 NASCE IL SUO QUARTO FIGLIO MASCHIO ROCCO.
					IL 18 SETTEMBRE 1924 NASCE IL SUO QUINTO, E ULTIMO FIGLIO, SAVERIO.
				</p>
                <hr />
				<p><%= image_tag "foto_famiglia.jpg", loading: "lazy", alt: "…", width: "600", height: "350" %></p> </hr>
				<p><%= image_tag "foto_famiglia_2.jpg", loading: "lazy", alt: "…", width: "400", height: "350" %></p> </hr>
				<p><%= image_tag "vincenzo_tomassi_1883.jpg", loading: "lazy", alt: "…", width: "200", height: "200" %></p> </hr>
                </div>
        </main>
    </div>
</div>